@font-face {
  font-family: 'Mabry Pro';
  src: url('fonts/MabryPro-Regular.eot');
  src: local('Mabry Pro'), local('MabryPro-Regular'),
  url('fonts/MabryPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/MabryPro-Regular.woff2') format('woff2'),
  url('fonts/MabryPro-Regular.woff') format('woff'),
  url('fonts/MabryPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('fonts/MabryPro-Medium.eot');
  src: local('Mabry Pro Medium'), local('MabryPro-Medium'),
  url('fonts/MabryPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/MabryPro-Medium.woff2') format('woff2'),
  url('fonts/MabryPro-Medium.woff') format('woff'),
  url('fonts/MabryPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  font-family: "Mabry Pro", sans-serif;

}

body {
  background-color: #efefef;
}

.stars-rating {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.stars{
  color: #d0a296;
  display: inline-block;
  position: relative;
}

.stars span{
  position: absolute;
  left: 0;
}
.stars span::before {
  content: "☆☆☆☆☆";
}
.stars .inner{
  overflow: hidden;
}

.stars .inner::before {
  content: "★★★★★";
}

.button {
  height: 40px;
  border: none;
  background-color: #babdd9;
  border-radius: 7px;
  transition-duration: 300ms;
  font-family: "Mabry Pro", sans-serif;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #8a8fb2;
}

.button:hover {
  background-color: #939ebe;
}

.box-container {
  background-color: #e8e8e8;
  border-radius: 12px;
  padding: 8px 14px 20px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 10px 1px #949393;
}

.error {
  color: red;
  text-align: center;
  font-size: 20px;
}

.nothing-message {
  font-size: 22px;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

select.select-beautiful {
  appearance: none;
  outline: 1px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
  background-color: #babdd9;
  background-image: none;
  cursor: pointer;
}

select.select-beautiful::-ms-expand {
  display: none;
}

.select-container {
  position: relative;
  display: flex;
  height: 35px;
  border-radius: 10px;
  overflow: hidden;
}

.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background-color: #7d7fa1;
  transition: .25s all ease;
  pointer-events: none;
}

.select-container:hover::after {
  color: #96535d;
}